$inuit-font-size-h1: 15 * 4.0px;
$inuit-font-size-h2: 15 * 3.6px;
$inuit-font-size-h3: 15 * 3.0px;
$inuit-font-size-h4: 15 * 2.4px;
$inuit-font-size-h5: 15 * 1.8px;
$inuit-font-size-h6: 15 * 1.5px;

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}
